$maroon: #6d1515;
$orange: #d9623d;
$indigo: #2a51b9;
$magenta: #c1407f;
$yellow: #d9b100;
$green: #32b877;
$lime: #91a62b;
$grey: #696969;

$font-family: 'Poppins', Arial, sans-serif;
$default-font-size: 12px;
$border-radius-default: 3px;

$default-transition-speed: 0.7s;
